@import "../buttonBarColor.scss";

#codePage {
    .lastPage {
        position: absolute;
        top: 3vh;
        left: 2vw;
        color: #888;
        user-select: none;
        cursor: pointer;
        transition: color 0.5s;
    }
    .lastPage:hover {
        color: #FFF;
    }
    .buttonBar {
        display: flex;
        gap: 0.5rem;
        > div {
            font-size: 1.2rem;
            height: 2.2rem;
            line-height: 2.2rem;
            padding: 0 1rem;
            color: #FFF;
            border-radius: 0.5rem;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.5s;
            cursor: pointer;
        }
        .message {
            flex: 1;
            padding: 0;
            cursor: auto;
            color: #FFF;
            overflow: hidden;
            overflow-x: auto;
            text-wrap: nowrap;
        }
        input {
            background-color: transparent;
            outline: none;
            border: none;
            color: #888;
            font-size: 1rem;
            line-height: 2rem;
            height: 2rem;
            width: 6em;
            border-bottom: #888 solid 0.05rem;
        }
        .left {
            text-align: left;
        }
    }
    div.block.data {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        .infoBox.ticketId,
        .buttonBar {
            width: 100%;
        }
    }
}