#codeBox {
    .secBlock {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .emptyBox {
            height: 5rem;
            line-height: 5rem;
            font-size: 2rem;
            color: #888;
            text-align: center;
        }
        pre {
            border-top-left-radius: 1.2rem;
            margin: 0;
            overflow-y: auto;
            background-color: #000;
            padding: 1.2rem;
            code {
                font-size: 1.2rem;
                font-family: monospace;
                * {
                    font-family: monospace !important;
                }
            }
        }
    }
}