#specialJudgeBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #222;
    z-index: 3 !important;
    .block {
        .secBlock {
            display: flex;
            flex-direction: column;
            .codeBlock {
                display: flex;
                overflow: hidden;
                gap: 1rem;
                > div {
                    flex: 1;
                    display: flex;
                    margin-top: 0.2rem;
                    flex-direction: column;
                    overflow: hidden;
                    font-size: 1.75rem;
                    pre {
                        font-size: 1.25rem;
                        line-height: 1.5em;
                        margin: 0;
                        padding: 0.75em 1em;
                        background-color: #000;
                        border-top-left-radius: 0.75em;
                        overflow: auto;
                        > div {
                            display: flex;
                            gap: 0.5em;
                            code.wrap {
                                flex: 1;
                                >span {
                                    padding-left: 0.3em;
                                    display: block;
                                }
                                >span.diff {
                                    background-color: #F33A;
                                }
                            }
                            code.num {
                                user-select: none;
                                font-size: 0.9em;
                            }
                        }
                    }
                }
            }
        }
    }
}