#uploadPage {
    .uploadBlock,
    .ticketBlock {
        opacity: 100%;
        pointer-events: initial;
        transition: opacity 0.5s;
    }
}

#uploadPage.showExplorer {
    .uploadBlock,
    .ticketBlock {
        opacity: 0%;
        pointer-events: none;
    }
}