.buttonBar {
    .copyLink {
        background-color: #474;
    }
    .copyLink:hover {
        background-color: #696;
    }
    .copyCode {
        background-color: #28B;
    }
    .copyCode:hover {
        background-color: #4AD;
    }
    .download {
        background-color: #C61;
    }
    .download:hover {
        background-color: #FA5;
    }
    .upload {
        background-color: #62F;
    }
    .upload:hover {
        background-color: #40C;
    }
    .judge {
        background-color: #F6F;
    }
    .judge:hover {
        background-color: #C4C;
    }
    .cancel {
        background-color: #915;
    }
    .cancel:hover {
        background-color: #C48;
    }
    .pull {
        background-color: #519;
    }
    .pull:hover {
        background-color: #84C;
    }
    .server {
        background-color: #B28;
    }
    .server:hover {
        background-color: #A17;
    }
    .submit {
        background-color: #28B;
    }
    .submit:hover {
        background-color: #4AD;
    }
    .selectFile {
        background-color: #474;
    }
    .selectFile:hover {
        background-color: #696;
    }
    .formatCode {
        background-color: #AA2;
    }
    .formatCode:hover {
        background-color: #CC4;
    }
}