@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url(./config/index.scss);

@media (max-aspect-ratio: 2/3) {
  :root {
    font-size: 3vw;
  }
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  > #downloadATagUnderBody {
    display: none;
    pointer-events: none;
    user-select: none;
  }
}

.ms-o {
  font-family: "Material Symbols Outlined";
  user-select: none;
  font-variation-settings:
  "FILL" 1,
  "wght" 400,
  "GRAD" 0,
  "opsz" 24
}

::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8888;
  transition: background-color 0.5s;
  border-radius: 0.175rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

pre {
  font-family: Consolas, source-code-pro, Menlo, Monaco, "Courier New", monospace !important;
  code {
    font-family: inherit;
    * {
      font-family: inherit;
    }
  }
}
