@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

* {
  font-family: "Noto Sans TC", sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #8888;
  transition: background-color 0.5s;
  border-radius: 0.125rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
