@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import "z-index.scss";

* {
  font-family: "Noto Sans TC", sans-serif;
}

@media (max-aspect-ratio: 1/1) {
  :root {
    font-size: 3vw;
  }
}

body {
  margin: 0;
  overflow: hidden;
}

.ms-o {
  font-family: "Material Symbols Outlined";
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8888;
  transition: background-color 0.5s;
  border-radius: 0.125rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
