#sshExplorer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    .block {
        flex: 1;
        .selectBlock {
            position: absolute;
            top: 2rem;
            left: 2rem;
            border-color: transparent;
            width: calc(100% - 6.2rem);
            height: calc(100% - 10.1rem);
            border-radius: 1rem;
            padding: 1rem;
            padding-right: 1.2rem;
            overflow-y: auto;
            background-color: #000;
            > div {
                margin: 1rem 0;
            }
            > div:first-child {
                margin-top: 0;
            }
            > div:last-child {
                margin-bottom: 0;
            }
            .path {
                font-size: 1.5rem;
                overflow-x: auto;
            }
            .box {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 1rem;
                > div {
                    width: calc(25% - 3rem / 4);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: flex;
                    gap: 1rem;
                    font-size: 1.75rem;
                    height: 2.25rem;
                    line-height: 2.25rem;
                    user-select: none;
                    span.text {
                        font-size: 1.5rem;
                        cursor: pointer;
                        font-family: monospace;
                    }
                    span.text:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .buttonBar {
            position: absolute;
            bottom: 1.5rem;
            height: 2.4rem;
            width: calc(100% - 4rem);
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            gap: 1rem;
            .path {
                overflow: hidden;
                text-wrap: nowrap;
                text-overflow: ellipsis;
                span {
                    font-size: 1.25rem;
                    font-family: monospace;
                }
            }
            .message {
                color: #f66;
                font-size: 1.25rem;
                margin-left: auto;
            }
            button {
                color: #FFF;
                font-size: 1.25rem;
                min-width: 7.2rem;
                outline: none;
                border: none;
                height: 2.4rem;
                line-height: 2.4rem;
                border-radius: 0.5rem;
                text-align: center;
                cursor: pointer;
                transition: background-color 0.5s;
            }
            button.upload {
                background-color: #519;
            }
            button.upload:hover {
                background-color: #84C;
            }
            button.cancel {
                background-color: #915;
            }
            button.cancel:hover {
                background-color: #C48;
            }
        }
    }
}