div.selection {
    position: relative;
    padding: 0 !important;
    top: -0.05em;
    text-align: center;
    text-indent: -0.6em;
    border: 1px solid #FFF8;
    transition: border-color 0.5s;
    border-radius: 0 !important;
    pointer-events: none;
    z-index: 2;
    .select {
        padding: 0 1em 0 0.5em;
        pointer-events: initial;
        color: #FFF8;
        transition: color 0.5s;
        user-select: none;
        width: calc(0.75em * var(--font-num) + 1.5em);
    }
    .options {
        border: inherit;
        border-top: none;
        position: absolute;
        top: 100%;
        left: -1px;
        padding: 0 1em 0 0.5em;
        width: calc(0.75em * var(--font-num) + 1.525em);
        opacity: 0%;
        background-color: #222;
        pointer-events: none;
        transition: opacity 0.5s;
        user-select: none;
        max-height: calc(2.2rem * var(--row));
        overflow-y: auto;
        > div {
            color: #FFF8;
            height: 2.2rem;
            line-height: 2.2rem;
            transition: color 0.5s;
        }
        > div:hover {
            color: #F82;
        }
    }
}
div.selection::after {
    content: "";
    position: absolute;
    top: calc(50% - 0.3em);
    right: 0.5em;
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 0.6em calc(0.6em / sqrt(3)) 0 calc(0.6em / sqrt(3));
    border-top-color: #FFF8;
    transform: rotate(90deg);
    transition: border-top-color 0.5s, transform 0.5s;
}

div.selection.open {
    border-color: #FFF;
    .select {
        color: #FFF;
    }
    .options {
        opacity: 100%;
        pointer-events: initial;
    }
}
div.selection.open::after {
    transform: rotate(0);
    border-top-color: #FFF;
}